
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #838383;
}

.container {
    text-align: center;
    padding: 2.25rem 4.5rem;
    border: 0.3rem solid #333;
    border-radius: 0.70rem;
    background-color: #f2f2f2;
    box-shadow: 0 0 0.63rem rgba(0, 0, 0, 0.2);
}

.input-container {
    margin-bottom: 1.25rem;
   
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

input[type="number"] {
    width: 6.25rem;
    padding: 0.31rem;
    border-radius: 0.38rem;
    border: .2rem dashed #89c403;
}

button {
    box-shadow:inset 0 0.06rem 0 0 #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color: #89c403;
	border-radius: 0.38rem;
	border: .06rem solid #74b807;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 0.94rem;
	font-weight: bold;
	padding: 0.38rem 1.50rem;
	text-decoration: none;
	text-shadow: 0 0.06rem 0 #528009;
}

button:hover {
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}

button:active {
	position: relative;
	top: 0.06rem;
}

#remOutput {
    font-weight: bold;
    font-size: 1.2rem;
}
